* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#canvas, #gui {
    grid-column: 1;
    grid-row: 1;
}
#gui {
    pointer-events: none;
    padding: 10px;
    user-select: none;
}
#gui > * {
    pointer-events: all;
}
#timeline-tMin,#timeline-tMax {
    width: 400px
}
body, #canvas {
    width: 100vw;
    height: 100vh;
}
#file {
    display: none;
}
input[type="color"] {
    width: 30px;
}
input[type="checkbox"] {
    width: 15px;
    padding: 0;
    margin: 0;
}
.legend {
    user-select: none;
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 200px;
}
.legend div {
    text-align: center;
}
#datasets {
    width: 400px;
}
hr {
    margin: 0;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    background: #fff;
    width: 16px;
    height: 14px;
    border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
input[type=color]::-moz-focus-inner {
    border: none;
    padding: 0;
    border-radius: 50%;
}
input[type=color]::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}

#times {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 400px;
}

#tmax {
    text-align: right;
}